@using OpenModular.Module.Blazor
@using OpenModular.Module.Blazor.Layout
@inject IModuleBlazorCollection ModuleBlazorCollection

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(LoginLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(LoginLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
